body {
	font-family: sans-serif;
	background-color:peachpuff;
}
p {}
/*.best-paragraph-ever {
	font-family: 'Arial', sans-serif;
	text-align: center;
	color:#A7BF22;
}*/
#myId {

}



.section > .best-paragraph-ever {
	font-family: 'Arial', sans-serif;
	text-align: center;
	color:#A7BF22;
}


.stuff.things{
	font-size:100px;
}

h1.stuff{
	color:red;
}

/*h1.things{
	color:blue;
}*/

.myButton {
	color:black;
}
.myButton.active {
	color:red;
}
@media(max-width:600px){
	h1.stuff {
		color:black;
	}
}

